.eh-landing {
  height: 100vh;
  background-image: url("/images/sakura.jpg");
  background-color: black;
}

.eh-title {
  margin-top: 0;
  text-shadow: 0 0 20px whitesmoke;
}

.eh-quick-description {
  height: 100vh;
  overflow: hidden;
}

.eh-footer {
  height: 10vh;
  background-color: black;
}